# dependencies
node_modules/

# pnpm
.pnpm-store/

# Turbo
.turbo/

# Next.js
.next/
out/

# builds
dist/
build/
coverage/

# logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# env files
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.swp
